.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 11px; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
.scrollbox {
    border: 1px solid #CCCCCC;
    width: 650px;
    height: 100px;
    background: #FFFFFF;
    overflow-y: scroll;
	font-size: 12px;
	margin-left: 230px;
	margin-bottom: 25px;
	margin-top: 15px;
}
.scrollbox > div{ padding:4px; }
.scrollbox img {
    float: right;
    cursor: pointer;
}


